<html>
    <title>
        {{ model_name }}
    </title>
    <body>
        <h1><b>Details about the Developer</b></h1>
        <b>Developer Name</b> : {{ dev_name }}<br>
        <hr>
        <h1><b>Details about the Models</b></h1>
        <b>Model Name</b> : {{ model_name }}<br>
        <b>Overview : </b><br>
        {{ overview }}
        <br>
        <hr>
        <h1><b>Reasons for using the Model</b></h1>
        {{ reason }}
        <hr>
    </body>
    <style>
        body{
            margin: 10px;
            font-size: 20px;
            font-family :Arial, Helvetica, sans-serif
        }
    </style>
</html>