/* body{
    align-items:center;
    background-color: #000;
    display: flex;
    justify-content: center;
    height: 100vh;
} */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #eceffc;
  }
  
  .btn {
    padding: 8px 20px;
    border-radius: 5px;
    overflow: hidden;
    background-color: blueviolet;
  }
  
  .form-input-material {
    --input-default-border-color: white;
    --input-border-bottom-color: white;
    padding-top: 20px;
    text-align: left;
    
  }
 .column-right {
        display: flex;
        justify-content: right;
        align-items: right;
        padding: 0rem 2rem;
      }

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 40px;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
      0 1px 1px rgba(128, 128, 128, 0.155),
      0 2.1px 2.1px rgba(128, 128, 128, 0.195),
      0 4.4px 4.4px rgba(128, 128, 128, 0.241),
      0 12px 12px rgba(128, 128, 128, 0.35);
  }
    h1 {
      margin: 0 0 24px 0;
    };
  
    .form-input-material {
      margin: 12px 0;
      
    }
  
    .btn {
      width: 100%;
      margin: 18px 0 9px 0;
    }
  
  

    form>label{
        text-align:left;
        margin-left:0;
    }